---
import Head from '../components/Head.astro';

import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import { SITE } from '../config';

let { title } = SITE;
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';

let allPosts = await Astro.glob('./posts/*.md');
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);
---

<html lang="en">
  <head>
    <Head {title} {description} {permalink} />
  </head>

  <body>
    <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
      <Nav />
      <div>Approach</div>
      <Footer />
    </div>
  </body>
</html>
