---
import Head from '../components/Head.astro';

import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import { SITE } from '../config';

let { title } = SITE;
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';

let allPosts = await Astro.glob('./posts/*.md');
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);
---

<html lang="en">
  <head>
    <Head {title} {description} {permalink} />
  </head>

  <body>
    <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
      <Nav />
      <div class="flex flex-col">
        <form
          class="flex flex-col w-full justify-center items-center"
          netlify
          netlify-honeypot
          name="feedback"
          method="POST"
          action="/success"
        >
          <p class="hidden">
            <label>
              Don’t fill this out if you’re human: <input name="bot-field" />
            </label>
          </p>
          <input type="hidden" name="form-name" value="feedback" />
          <label for="name">Name</label>
          <input id="name" type="text" name="name" />
          <label for="email">Email</label>
          <input id="email" type="email" name="email" required />
          <label for="feedback">What is your feedback?</label>
          <textarea id="feedback" wrap="soft" name="feedback" required
          ></textarea>
          <button type="submit">Submit</button>
        </form>
      </div>
      <Footer />
    </div>
  </body>
</html>
