---
import Head from '../components/Head.astro';

import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import { SITE } from '../config';

let { title } = SITE;
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';
---

<html lang="en">
  <head>
    <Head {title} {description} {permalink} />
    <script
      src="https://www.google.com/recaptcha/api.js?render=6LeG2YQnAAAAACWVIdvIAg9JOy5k89hvUWctxzv3"
    ></script>
  </head>>

  <body>
    <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
      <Nav />
      <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
          <h1
            class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white font-pathway-gothic-one"
          >
            CONTACT
          </h1>
        </div>
      </div>
      <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
        <form
          action="https://formie.io/form/92f0a5e8-6eac-4adf-bb83-bacd4df0fd24"
          method="POST"
          enctype="multipart/form-data"
          class="flex flex-col"
          id="form"
        >
          <div class="pt-2">
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Your email</label
            >
            <input
              type="email"
              name="email"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
              placeholder="user@domain.com"
              required
            />
          </div>
          <div class="pt-2">
            <label
              for="subject"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Name</label
            >
            <input
              type="text"
              name="name"
              class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
              placeholder=""
              required
            />
          </div>
          <div class="pt-2">
            <label
              for="subject"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Telephone</label
            >
            <input
              type="number"
              name="telephone"
              class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
              placeholder=""
              required
            />
          </div>
          <div class="p-5"></div>
          <div class="pt-2">
            <label
              for="countries"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Type of furniture</label
            >
            <select
              id="furniture"
              class="p-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
              <option selected="true" disabled="disabled">Choose Option</option>
              <option>Wardrobe</option>
              <option>Kitchen</option>
              <option>Cupboard</option>
              <option>Table</option>
              <option>Cabinet</option>
              <option>Other</option>
            </select>
          </div>
          <div>
            <div class="pt-2">
              <label
                for="subject"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                >If other selected please specify</label
              >
              <input
                type="number"
                id="other"
                class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
                placeholder=""
                required
              />
            </div>
          </div>
          <div>
            <div class="pt-2">
              <label
                for="subject"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                >Approximate Size</label
              >
              <input
                type="text"
                id="other"
                class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
                placeholder="H x W x D"
                required
              />
            </div>
          </div>
          <div class="pt-2">
            <label
              for="materials"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Material</label
            >
            <select
              name="materials"
              class="p-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required
            >
              <option selected="true" disabled="disabled">Choose Option</option>
              <option>In consultation</option>
              <option>Multiplex</option>
              <option>MDF</option>
              <option>Real wood veneer</option>
              <option>HPL</option>
            </select>
          </div>
          <div class="pt-2">
            <label
              for="finish"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Finish</label
            >
            <select
              name="finish"
              class="p-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required
            >
              <option selected="true" disabled="disabled">Choose Option</option>
              <option>In consultation</option>
              <option>Painted</option>
              <option>Varnished</option>
              <option>Oiled/Waxed</option>
            </select>
          </div>
          <div class="pt-2">
            <label
              for="special-features"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Special Features</label
            >
            <select
              name="special-features"
              class="p-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required
            >
              <option selected="true" disabled="disabled">Choose Option</option>
              <option>In consultation</option>
              <option>Drawers</option>
              <option>Rails</option>
              <option>Other</option>
            </select>
          </div>
          <div class="p-5"></div>
          <button
            type="submit"
            class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
            >Send message</button
          >
        </form>
      </div>
      <div class="flex flex-col">
        <form
          action="https://formie.io/form/92f0a5e8-6eac-4adf-bb83-bacd4df0fd24"
          method="POST"
          enctype="multipart/form-data"
          class="flex flex-col"
          id="form"
        >
          <label class="mt-5">Email:</label>
          <input name="email" type="email" required />
          <label class="mt-5">Name:</label>
          <input name="name" type="text" required />
          <label class="mt-5">Telephone:</label>
          <input name="telephone" type="number" />
          <label class="mt-5">Type of furniture:</label>
          <select name="type-of-furniture" required>
            <option selected="true" disabled="disabled">Choose option</option>
            <option>Wardrobe</option>
            <option>Kitchen</option>
            <option>Cupboard</option>
            <option>Table</option>
            <option>Cabinet</option>
            <option>Other</option>
          </select>
          <label class="mt-5">If other selected please specify below:</label>
          <input name="other" type="text" required />
          <label class="mt-5">Approximate Size (H x W x D):</label>
          <input name="approximate-size" type="text" required />
          <label class="mt-5">Materials:</label>
          <select name="materials" required>
            <option selected="true" disabled="disabled">Choose Option</option>
            <option>In consultation</option>
            <option>Multiplex</option>
            <option>MDF</option>
            <option>Real wood veneer</option>
            <option>HPL</option>
          </select>
          <label class="mt-5">Finish:</label>
          <select name="finish" required>
            <option selected="true" disabled="disabled">Choose Option</option>
            <option>In consultation</option>
            <option>Painted</option>
            <option>Varnished</option>
            <option>Oiled/Waxed</option>
          </select>
          <label class="mt-5">Special Features:</label>
          <select name="special-features" required>
            <option selected="true" disabled="disabled">Choose Option</option>
            <option>Drawers</option>
            <option>Rails</option>
            <option>Other</option>
          </select>
          <label class="mt-5">Additional information:</label>
          <p class="text-sm">
            Please specify as much information as possible. Number of drawers,
            rails or any additional information required.
          </p>
          <textarea name="additional-information-and-other" required></textarea>
          <label class="mt-5">Execution date:</label>
          <select name="execution-date" required>
            <option selected="true" disabled="disabled">Choose Option</option>
            <option>Urgently</option>
            <option>Within a couple of months</option>
            <option>In consultation</option>
          </select>
          <label class="mt-5">Inspiration files:</label>
          <p class="text-sm">
            Please compress/zip your photos or files & upload
          </p>
          <input name="inspiration-pictures-and-files" type="file" required />
          <label class="mt-5">Brief outline of the project:</label>
          <textarea name="brief-outline-of-project" required></textarea>
          <input
            name="_redirect"
            type="hidden"
            value="https://grand-banoffee-8dcc7e.netlify.app/success/"
          />
          <button
            class="mt-2 w-[8em] inline-flex justify-center content-center items-center px-3 py-2 text-sm font-medium text-center text-white bg-slate-700 rounded-lg hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            onclick="
            onSubmit()
            ">Submit</button
          >
        </form>
      </div>
      <Footer />
    </div>
    <script is:inline>
      function onSubmit(e) {
        e.preventDefault();
        grecaptcha.ready(function () {
          grecaptcha
            .execute('6LeG2YQnAAAAACWVIdvIAg9JOy5k89hvUWctxzv3', {
              action: 'submit',
            })
            .then(function (token) {});
        });
      }
    </script>
  </body>
</html>
