---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---

<article class="post-preview">
  <h1>{post.frontmatter.title}</h1>
  <img src={post.frontmatter.thumbnail} />
  <p>{post.frontmatter.description}</p>
  <a href={post.url}>Read more</a>
</article>

<style></style>
